:root {
	--accent: #00477f;
	--light: #ffffff;
	--dark: #000000;
	--shady: #efefef;
}

body {
	margin: 0;
	font-size: 12px;
	min-width: 250px;
	min-height: 130px;
}

header {
	display: flex;
	justify-content: space-between;
	background: var(--accent);
    color: var(--light);
    line-height: 30px;
    font-size: 14px;
    padding: 0px 5px;
}

 	#headline {
		font-weight: 500;
	}

	#icons {
		min-width: 50px;
		text-align: right;
	}

	#icons #options {
		margin-right: 5px;
	}

	#icons a {
		font-size: 12px;
		text-decoration: none;
		color: var(--shady);
	}


#details {
    padding: 5px;
}

#data {
	padding: 5px;
	border-top: 1px solid var(--accent);
}

#version {
    position: fixed;
	padding: 5px;
    bottom: 0;
    right: 0;
    font-size: 8px;
	color: var(--accent);
}

#loadercontainer {
	padding: 20%;
}

#loader {
    border: 5px solid var(--shady);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid var(--accent);
    border-radius: 50%;
    width: 50px;
    height: 50px;
	margin: auto;
}

#actions {
	margin-right: 5px;
	float: right;
}

#actions div {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.8em;
	color: var(--accent);
	cursor: pointer;
}

button {
	background: var(--shady);
	border-style: none;
    padding: 5px 10px;
	cursor: pointer;
}

button:active, button:focus {
	outline: none;
}

.activated {
	background: var(--accent);
	color: var(--light);
    outline: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.renderjson {
	font-size: 13px;
}
.renderjson a { 
	text-decoration: none; 
}
.renderjson .disclosure { 
	color: #d5d5d5;
}
.renderjson .syntax { 
	color: #a1a1a1; 
}
.renderjson .string { 
	color: #007700; 
}
.renderjson .number { 
	color: #0000FF; 
	font-weight: bold;
}
.renderjson .boolean { 
	color: #cc00ad; 
	font-weight: bold;
}
.renderjson .key { 
	color: #909090; 
}
.renderjson .keyword { 
	color: #cc0000; 
	font-weight: bold;
	font-style: italic;
}
.renderjson .object.syntax { 
	color: #000000; 
}
.renderjson .array.syntax { 
	color: #ff8000; 
	font-weight: bold;
}