:root {
	--accent: #00477f;
	--light: #ffffff;
	--dark: #000000;
	--shady: #efefef;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 30px;
	padding: 10px;
	background: var(--accent);
	color: var(--light);
}

	#close {
		cursor: pointer;
	}

main {
	margin: 30px auto;
    max-width: 350px;
}

	#description p {
		line-height: normal;
	}

	table {
		margin: 0 auto;
	}

	tr {
		margin-top: 2px;
	}

	td:first-child {
		padding: 0 5px;
		background: var(--accent);
		color: var(--light);
	}

	input[type="text"] {
		border-radius: none;
		border-color: var(--accent);
	}

	input[type="text"]:focus {
		outline: none;
	}

	#status {
		height: 20px;
		text-align: center;
		color: var(--accent);
	}

	#button {
		text-align: center;
	}

	#save {
		background: var(--accent);
		color: var(--light);
		border-style: none;
		font-size: 14px;
		padding: 5px 20px;
		cursor: pointer;
	}