html {
}

body {
	font-size: 12px;
	min-width: 200px;
	min-height: 130px;
}

#copy {
	position: fixed;
	top: 5px;
	right: 5px;
}

#content {

}

#close {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #ccc;
}

#feedback {
    position: absolute;
    top: 1px;
    right: 25px;
}

#feedback a {
    font-size: 17px;
    text-decoration: none;
    color: #ccc;
}

#headline {
	margin: 0px;
}

#details {
	margin: 5px 0px 15px;
}

#location {

}

#data {
	padding: 2px;
	border-top: 1px solid #2196F3;
	margin-bottom: 20px;
}

#version {
    position: fixed;
	padding: 5px;
    bottom: 0;
    right: 0;
    font-size: 8px;
	color: #2196F3;
}

#loadercontainer {
	padding-top: 20%;
}

#loader {
    border: 5px solid #ccc;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #2196F3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
	margin: auto;
}

#buttons {
	float: right;
}

#buttons div {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.8em;
	color: #2196F3;
	cursor: pointer;
}

#selector {
}

button {
	background: #efefef;
	border-style: none;
	margin-top: 5px;
	padding: 5px;
	cursor: pointer;
}

button:active, button:focus {
	outline: none;
}

.activated {
	background: #2196F3;
	color: #ffffff;
    outline: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.renderjson a { 
	text-decoration: none; 
}
.renderjson .disclosure { 
	color: lightblue;
}
.renderjson .syntax { 
	color: black; 
}
.renderjson .string { 
	color: SteelBlue; 
}
.renderjson .number { 
	color: LimeGreen; 
}
.renderjson .boolean { 
	color: DeepPink; 
	font-weight: bold;
}
.renderjson .key { 
	color: black; 
}
.renderjson .keyword { 
	color: MediumPurple; 
	font-weight: bold;
	font-style: italic;
}
.renderjson .object.syntax { 
	color: black; 
}
.renderjson .array.syntax { 
	color: Orange; 
	font-weight: bold;
}